<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mb-1 h1" href="#">Royal Suites Hotel</a>
    <div class="d-flex align-items-center ms-auto">
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li>
          <a class="d-block d-lg-none" routerLink="/iniciar_sesion">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/habitaciones">Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservas">Mis Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactanos">Contáctanos</a>
        </li>
      </ul>
    </div>
    <div class="d-none d-lg-block perfil" style="margin-left: 1rem; margin-right: 1rem;">
      <a href="#" class="text-decoration-none">
        <i class="fas fa-user-circle"></i>
      </a>
    </div>

  </div>
</nav>