@use 'variables' as var;

.contenedor {
  min-height: 100vh;
  background-color: #f4f6f9;
}

.layout-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  z-index: 100;
  background: transparent;
}

main {
  margin-left: 16rem;
  min-height: 100vh;
  padding: 1.5rem;
  background-color: #0c66ee;
}

@media (max-width: 1024px) {
  .layout-sidebar {
    position: static;
    width: 100%;
  }

  main {
    margin-left: 0;
    padding: 1rem;
  }
}
