<div class="container mt-4">
    <h2 class="mb-4">Gestión de Usuarios 👥</h2>

    <form [formGroup]="usuarioForm" (ngSubmit)="registroFn()" class="row g-3 mb-4 p-3 border rounded shadow-sm">
        <div class="col-md-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre"
                placeholder="Nombre del usuario">
            @if (nombre?.invalid && (nombre?.dirty || nombre?.touched)) {
            <div class="text-danger mt-1">
                @if (nombre?.errors?.['required']) {
                <small>El nombre es obligatorio.</small>
                }
                @if (nombre?.errors?.['minlength']) {
                <small>Mínimo 3 caracteres.</small>
                }
                @if (nombre?.errors?.['pattern']) {
                <small>El nombre solo puede contener letras y espacios.</small>
                }
            </div>
            }
        </div>

        <div class="col-md-4">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" formControlName="apellido"
                placeholder="Apellido del usuario">
            @if (apellido?.invalid && (apellido?.dirty || apellido?.touched)) {
            <div class="text-danger mt-1">
                @if (apellido?.errors?.['required']) {
                <small>El apellido es obligatorio.</small>
                }
                @if (apellido?.errors?.['pattern']) {
                <small>El apellido solo puede contener letras y espacios.</small>
                }
            </div>
            }
        </div>

        <div class="col-md-4">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo" formControlName="correo"
                placeholder="correo@ejemplo.com">
            @if (correo?.invalid && (correo?.dirty || correo?.touched)) {
            <div class="text-danger mt-1">
                @if (correo?.errors?.['required']) {
                <small>El correo es obligatorio.</small>
                }
                @if (correo?.errors?.['email']) {
                <small>Formato de correo inválido.</small>
                }
            </div>
            }
        </div>

        <div class="col-md-4">
            <label for="contrasena" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" formControlName="password"
                placeholder="••••••••">
            @if (password?.invalid && (password?.dirty || password?.touched)) {
            <div class="text-danger mt-1">
                @if (password?.errors?.['required']) {
                <small>La contraseña es obligatoria.</small>
                }
                @if (password?.errors?.['minlength']) {
                <small>Mínimo 6 caracteres.</small>
                }
            </div>
            }
        </div>

        <div class="col-md-4">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="telefono" formControlName="telefono" placeholder="987654321">
            @if (telefono?.invalid && (telefono?.dirty || telefono?.touched)) {
            <div class="text-danger mt-1">
                @if (telefono?.errors?.['required']) {
                <small>El teléfono es obligatorio.</small>
                }
                @if (telefono?.errors?.['pattern']) {
                <small>Debe contener 9 dígitos.</small>
                }
            </div>
            }

        </div>

        <!--
        <div class="col-md-4">
            <label for="rol" class="form-label">Rol</label>
            <select class="form-select" id="rol" formControlName="rol">
            </select>
        </div>
        -->
        <div class="col-12 mt-4">
            <div class="col-12 mt-4">
                <button type="submit" class="btn" [ngClass]="editando ? 'btn-warning' : 'btn-success'"
                    [disabled]="usuarioForm.invalid">
                    {{ editando ? 'Actualizar Usuario' : 'Agregar Usuario' }}
                </button>
                @if (editando) {
                <button type="button" class="btn btn-secondary ms-2" (click)="cancelarEdicion()">
                    Cancelar Edición
                </button>
                }
            </div>
        </div>
    </form>

    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover">
            <thead class="table-hotel">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (usuario$|async; as user) {
                @for (use of user; track use.id) {
                <tr>
                    <td>{{ use.id }}</td>
                    <td>{{ use.nombre }}</td>
                    <td>{{ use.apellido }}</td>
                    <td>{{ use.correo }}</td>
                    <td>{{ use.telefono }}</td>
                    <!-- <td>{{ use.rol }}</td> -->
                    <td>{{ use.rol }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm me-1" (click)="editarUsuario(use)">Editar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
                }@empty {
                <tr>
                    <td colspan="7">No hay usuarios registrados</td>
                </tr>
                }
                }@else {
                <tr>
                    <td colspan="7">Cargando usuarios</td>
                </tr>
                }

            </tbody>
        </table>
    </div>

    <ng-template #sinUsuarios>
        <div class="alert alert-info mt-4">No hay usuarios registrados.</div>
    </ng-template>
</div>