<div class="container mt-4">
  <h2 class="mb-4">Gestión de Reservas 📅</h2>

  <!-- FORMULARIO DE RESERVAS -->
  <form [formGroup]="reservaForm" (ngSubmit)="registrarReserva()" class="row g-3 mb-4 p-3 border rounded shadow-sm">
    <!-- Fecha de Inicio -->
    <div class="col-md-4">
      <label for="fecha_inicio" class="form-label">Fecha de Inicio</label>
      <input type="date" id="fecha_inicio" class="form-control" formControlName="fecha_inicio" />
      @if (fecha_inicio?.invalid &&(fecha_inicio?.touched || fecha_inicio?.dirty)) {
      <div class="text-danger mt-1">
        @if (fecha_inicio?.errors?.['required']) {
        <small>La fecha de Inicio es obligatoria</small>
        }
        @if (fecha_inicio?.errors?.['futureOrPresent']) {
        <small>La fecha de inicio debe ser hoy o en el futuro</small>
        }
      </div>
      }
    </div>

    <!-- Fecha de Fin -->
    <div class="col-md-4">
      <label for="fecha_fin" class="form-label">Fecha de Fin</label>
      <input type="date" id="fecha_fin" class="form-control" formControlName="fecha_fin" />
      @if (fecha_fin?.invalid &&(fecha_fin?.touched || fecha_fin?.dirty)) {
      <div class="text-danger mt-1">
        @if (fecha_fin?.errors?.['required']) {
        <small>La fecha de fin es obligatoria</small>
        }
        @if (fecha_fin?.errors?.['futureOrPresent']) {
        <small>La fecha de fin debe ser hoy o en el futuro</small>
        }
      </div>
      }
    </div>

    <!-- Usuario -->
    <div class="col-md-4">
      <label for="usuario" class="form-label">Usuario</label>
      <select id="usuario" class="form-select" formControlName="usuario">
        <option [ngValue]="null">Seleccione un usuario</option>
        @for (u of usuarios$|async; track u.id) {
        <option [ngValue]="u">
          {{u.id}} {{u.nombre}} {{u.apellido}}
        </option>
        }
      </select>
      @if (usuario?.invalid && (usuario?.touched || usuario?.dirty)) {
      <div class="text-danger mt-1">
        @if (usuario?.errors?.['required']) {
        <small>Debe seleccionar un usuario</small>
        }
      </div>
      }
    </div>

    <!-- Botones -->
    <div class="d-flex flex-nowrap justify-content-start">
      <button type="submit" class="btn" [ngClass]="modoEdicion ? 'btn-warning' : 'btn-success'"
        [disabled]="reservaForm.invalid">
        {{ modoEdicion ? 'Actualizar Reserva' : 'Agregar Reserva' }}
      </button>
      <button type="button" class="btn btn-secondary ms-2" *ngIf="modoEdicion" (click)="resetFormulario()">
        Cancelar Edición
      </button>
    </div>
  </form>

  <!-- TABLA DE RESERVAS -->
  <div class="table-responsive mt-4">
    <table class="table table-bordered table-hover">
      <thead class="table-hotel">
        <tr>
          <th>ID</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th>Usuario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (reservas$|async; as reserva) {
        @for (r of reserva; track r.id) {
        <tr>
          <td>{{ r.id }}</td>
          <td>{{ r.fecha_inicio }}</td>
          <td>{{ r.fecha_fin }}</td>
          <td>{{ r.usuario?.nombre }} {{ r.usuario?.apellido }}</td>
          <td>
            <div class="d-flex flex-nowrap justify-content-center">
              <button class="btn btn-warning btn-sm me-1" (click)="editarReserva(r)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarReserva(r.id!)">Eliminar</button>
            </div>
          </td>
        </tr>
        }@empty {
        <tr>
          <td colspan="5"> No hay usuarios registrados</td>
        </tr>
        }
        }@else {
        <tr>
          <td colspan="5">Cargando registro</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>