<div class="container mt-4">
  <h2 class="mb-4">Gestión de Servicios 🛎️</h2>

  <form [formGroup]="servicioForm" (ngSubmit)="guardarServicio()" class="row g-3">
    <div class="col-md-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" placeholder="Nombre del Servicio" formControlName="nombre" />
      @if (nombre?.invalid && (nombre?.touched || nombre?.dirty)) {
      <div class="text-danger mt-1">
        @if (nombre?.errors?.['required']) {
        <small>El nombre es obligatorio.</small>
        }
        @if (nombre?.errors?.['minlength']) {
        <small>Mínimo 3 caracteres.</small>
        }
      </div>
      }
    </div>

    <div class="col-md-4">
      <label class="form-label">Descripción</label>
      <input type="text" class="form-control" placeholder="Descripción" formControlName="descripcion" />
      @if (descripcion?.invalid && (descripcion?.touched || descripcion?.dirty)) {
      <div class="text-danger mt-1">
        <small>La descripción es obligatoria.</small>
      </div>
      }
    </div>

    <div class="col-md-2">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" id="precio" class="form-control" formControlName="precio" step="0.01" />
      @if (precio?.invalid && (precio?.touched || precio?.dirty)) {
      <div class="text-danger mt-1">
        <small>El precio es obligatorio.</small>
      </div>
      }
    </div>

    <div class="col-md-6">
      <label for="imagen" class="form-label">Imagen (Archivo)</label>
      <input id="imagen" type="file" class="form-control" (change)="onFileChange($event)" #fileInput />

      @if (servicioForm.value.imagen) {
      <div class="col-md-6 mt-2">
        <label class="form-label">Vista previa de imagen:</label><br />
        <img [src]="servicioForm.value.imagen" alt="Vista previa" width="120" class="border rounded" />
      </div>
      }
    </div>

    <div class="col-12 mt-3">
      <button type="submit" class="btn" [ngClass]="modoEdicion ? 'btn-warning' : 'btn-success'"
        [disabled]="servicioForm.invalid">
        {{ modoEdicion ? 'Actualizar Categoría' : 'Agregar Categoría' }}
      </button>

      @if (modoEdicion) {
      <button type="button" class="btn btn-secondary ms-2" (click)="resetFormulario()">Cancelar Edición</button>
      }
    </div>
  </form>

  <table class="table table-bordered table-hover mt-4">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio (S/)</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (servicio of servicio$ | async; track servicio.id_servicio) {
      <tr>
        <td>{{ servicio.id_servicio }}</td>
        <td>{{ servicio.nombre }}</td>
        <td>{{ servicio.descripcion }}</td>
        <td>{{ servicio.precio | number: '1.2-2' }}</td>
        <td>
          <img [src]="servicio.imagen" alt="{{servicio.nombre}}" width="60" />
        </td>
        <td class="d-flex justify-content-center gap-2 align-middle">
          <button class="btn btn-primary btn-sm" (click)="editarServicio(servicio)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="eliminarServicio(servicio.id_servicio)">Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>