<aside class="admin-sidebar">

  <div class="sidebar-content">

    <a class="d-flex align-items-center gap-2 text-decoration-none" routerLink="intranet" routerLinkActive="active">
      <img src="assets/images/inicio/logo.png" alt="logo" width="45" height="45" style="object-fit: contain;" />

      <span class="navbar-brand mb-0 h1 text-white">
        Royal Suites Hotel
      </span>
    </a>

    <nav class="sidebar-nav">

       <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
        Dashboard
      </a>

      <a class="nav-link" routerLink="intranet" routerLinkActive="active">
        Intranet
      </a>

      <a class="nav-link" routerLink="usuario" routerLinkActive="active">
        Usuario
      </a>

      <a class="nav-link" routerLink="reserva" routerLinkActive="active">
        Reserva
      </a>

      <a class="nav-link" routerLink="contacto" routerLinkActive="active">
        Contacto
      </a>

      <a class="nav-link" routerLink="categoria-habitacion" routerLinkActive="active">
        Categoría
      </a>

      <a class="nav-link" routerLink="habitacion" routerLinkActive="active">
        Habitación
      </a>

      <a class="nav-link" routerLink="servicio" routerLinkActive="active">
        Servicio
      </a>

      <a class="nav-link" routerLink="pago" routerLinkActive="active">
        Pago
      </a>

      <a class="nav-link" routerLink="resena" routerLinkActive="active">
        Reseña
      </a>

      <a class="nav-link" routerLink="metodo" routerLinkActive="active">
        Método
      </a>

    </nav>

  </div>

  <div class="sidebar-footer">

    <div class="avatar-badge">
      {{ nombre?.charAt(0) }}
    </div>

    <div class="footer-text">
      <h4>{{ nombre }} {{ apellido }}</h4>
      <span>{{ rol }}</span>
    </div>

    <button class="logout-btn" (click)="logout()">
      Salir
    </button>

  </div>

</aside>
