<div class="sección container">
    <div class="cabecera row m-2 p-1">
        <div class="posicion1 col-12 col-md-6 col-lg-3 m-0.2 p-1 text-center">
            <p>Siguenos en: </p>
            <div class="conjunto-iconos">
                <a href="https://twitter.com" target="_blank" class="footer-icon">
                    <i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i>
                </a>
                <a href="https://facebook.com" target="_blank" class="footer-icon">
                    <i class="fab fa-facebook-f" style="color: #ffffff;"></i>
                </a>
                <a href="https://youtube.com" target="_blank" class="footer-icon">
                    <i class="fab fa-youtube" style="color: #ffffff;"></i>
                </a>
                <a href="https://instagram.com" target="_blank" class="footer-icon">
                    <i class="fab fa-instagram" style="color: #ffffff;"></i>
                </a>
            </div>

        </div>
        <div class="posicion2 col-12 col-md-6 col-lg-3 m-0.2 p-1 text-center">
            <p> San Isidro Cra 3 No. 6-23</p>
            <p>Lima Perú 01-130001 (Perú)</p>
        </div>
        <div class="posicion3 col-12 col-md-6 col-lg-3 m-0.2 p-1 text-center">
            <p> 57 3336025151 | 605 6511276</p>
            <p>Para más información, escribe a: <a
                    href="mailto:reservasweb@royalsuites.com">reservasweb&#64;royalsuites.com</a></p>
            <p>Sitio web: <a href="#">wwww.royalsuites.com</a></p>
        </div>
        <div class="posicion4 col-12 col-md-6 col-lg-3 m-0.2 p-1 text-center">
            <div class="row">
                <a href="#">Nosotros</a>
                <a href="#">Habitaciones</a>
                <a href="#">servicios</a>
                <a href="#">Mis reservas</a>
                <a href="#">Contáctanos</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="pie row text-center m-2.3">
        <p>Royal Suites Hotel &copy; Copyright 2025 Todos los derechos son reservados</p>
    </div>
</div>