<div class="cuerpo">
  <div [class.toggled]="toggled" class="container">
    <div class="container-form">
      <form [formGroup]="reservaForm" (ngSubmit)="buscarReserva()" novalidate class="sign-in">
        <h2 class="titulo-seccion">MIS RESERVAS</h2>
        <h3 class="subtitulo-seccion">Revisa aquí tus reservas</h3>
        <span>
          Desde esta página podrás cancelar tu reserva si así lo deseas.<br />
          Si tienes alguna duda, puedes ponerte en contacto con nuestro<br />
          departamento de reservas.
        </span>
        <span>Teléfono: +51 615 6511542</span>
        <span class="correo">Correo: reservasweb&#64;royalsuites.com</span>

        <div class="form-group">
          <label for="codigo">Código de la reserva</label>
          <input formControlName="codigo" id="codigo" type="text" placeholder="" />
        </div>
        <div *ngIf="codigo?.invalid && (codigo?.dirty || codigo?.touched)">
          <p *ngIf="codigo?.errors?.['required']" class="error-message">El código es obligatorio.</p>
        </div>

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input formControlName="nombre" id="nombre" type="text" placeholder="" />
        </div>
        <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">
          <p *ngIf="nombre?.errors?.['required']" class="error-message">El nombre es obligatorio.</p>
        </div>

        <button [disabled]="reservaForm.invalid" class="button">Buscar reserva</button>
      </form>
    </div>
  </div>
  <div class="alerta" *ngIf="errorMsg()">
    <div class="contenido">
      <span>{{ errorMsg() }}</span>
    </div>
  </div>
</div>
