@use '@angular/material' as mat;
@use 'variables' as var;
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    header {
        // height: 4rem;
    }
    main {
        grid-area: main;
        // padding: 1rem;
    }

    footer {
        grid-area: footer;
        padding: 1rem;
        background-color: var.$backgraound-primario;
        color: var.$color-terciario;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
