/* You can add global styles to this file, and also import other style files */
@use 'variables' as var;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    header {
        height: 4rem;
    }
    main {
        grid-area: main;
        padding: 1rem;
    }

    footer {
        grid-area: footer;
        padding: 1rem;
        background-color: var.$backgraound-primario;
        color: var.$color-terciario;
    }
}