@use 'variables' as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img/walpaperLogin.jpg');
    background-size: contain;

    a {
        color: var.$backgraound-primario;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover {
        color: var.$color-secundario;
    }

    .container {
        width: 170rem;
        height: 45rem;
        display: flex;
        position: relative;
        background-color: var.$backgraound-terciario;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);

        .container-form {
            width: 100%;
            overflow: hidden;

            .social-networks {
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;
            }

            .social-networks .icono {
                border: 1px solid var.$backgraound-input;
                border-radius: 27%;
                padding: 0.7rem;
                cursor: pointer;


            }

            .button {
                width: 8rem;
                height: 2.7rem;
                font-size: 1rem;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 1rem;
                background-color: var.$backgraound-secundario;
                color: var.$color-terciario;
            }
        }

        .container-form form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: transform 0.5s ease-in;
        }

        .container-form h2 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        .container-form span {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .container-form a {
            font-size: 1rem;
            margin-bottom: 1rem;
            margin-top: 10px;
        }

        .container-input {
            width: 17rem;
            height: 2.5rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 0 1rem;
            background-color: var.$backgraound-input;
        }

        .container-input input {
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            background-color: inherit;
        }
    }
}

.container-welcome {
    background-color: var.$backgraound-primario;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    overflow: hidden;
    transition: transform 0.5s ease-in-out;

    .button {
        width: 8rem;
        height: 2.7rem;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 1rem;
        background-color: var.$backgraound-secundario;
        color: var.$color-terciario;
    }

    .welcome-sign-in {
        transform: translateX(100%);
    }

}

.container-welcome h3 {
    font-size: 2.7rem;
}

.container-welcome p {
    font-size: 1rem;
    text-align: center;
}

.container-welcome .button {
    border: 2px solid var.$color-secundario;
    background-color: transparent;
    color: var.$color-secundario;
}

.container-welcome .welcome {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    padding: 0 6rem;
    color: var.$color-terciario;
    transition: transform 0.5s ease-in-out;
}

.sign-up {
    transform: translateX(-100%);
}

.sign-in {
    transform: translateX(0);
}

.container.toggled .sign-in {
    transform: translateX(100%);
}

//deja qieto al formulario de registrarse
.container.toggled .sign-up {
    transform: translateX(0);
}

//contenedor verde donde dice hola
.container.toggled .welcome-sign-in {
    transform: translateX(0);
}

//con estos se mueven los dos para el bienvenido que no se vea junto
.container.toggled .welcome-sign-up {
    transform: translateX(-100%);
}

.container.toggled .container-welcome {
    //permite para mover el cuadro
    transform: translateX(0);
    background-color: var.$backgraound-primario;
}

@media screen and (max-width: 990px) {
    body {
        align-items: flex-start;
        padding: 1rem;
        background-size: cover;

    }

    .container {
        flex-direction: column;
        width: 100% !important;
        height: 100% !important;
        border-radius: 0;
        box-shadow: none;
        position: relative;
    }

    .container-form {
        width: 100%;
        height: 100%;
        position: relative !important;

        .sign-up {
            padding: 1rem;

            .container-input {
                height: 2rem;
                margin-bottom: 0.3rem;
            }
        }
    }

    .container-form form {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }

    .sign-in {
        transform: translateY(0%);
        z-index: 0;
    }

    .sign-up {
        transform: translateY(100%);
        z-index: 1;
    }

    .container.toggled .sign-in {
        transform: translateY(-100%);
        z-index: 1;
    }

    .container.toggled .sign-up {
        transform: translateY(0%);
        z-index: 2;
    }

    .container-welcome {
        position: absolute;
        width: 100%;
        height: 50%;
        transform: translateY(100%);
        flex-direction: column;
        background-color: var.$backgraound-primario;
        padding: 1.5rem;
        overflow: hidden;
        gap: 2rem;

        .welcome-sign-in {
            transform: translateY(150%);
        }

        .welcome-sign-up {
            transform: translateY(50%);
        }

    }

    .container-welcome .welcome {
        position: relative;
        transform: transform 0.5s ease-in-out;
        padding: 1rem;
        text-align: center;
        color: var.$color-terciario;
    }



    .container.toggled .welcome-sign-in {
        transform: translateY(-50%) !important;
    }

    .container.toggled .welcome-sign-up {
        transform: translateY(-150%) !important;
    }

    //esto es del formulario de inicio de sesion
    .container.toggled .sign-in {
        transform: translateY(-100%);
    }

    .container.toggled .container-welcome {
        //permite para mover el cuadro
        transform: translateY(0) !important;
    }

    //hacer para menores de 380
    @media screen and (max-width: 380px) {
        .container-form h2 {
            font-size: 1rem;
        }

        .container-welcome h3 {
            font-size: 2rem;
        }

        .container-input {
            width: 100%;
        }

        .container-input input {
            font-size: 0.9rem;
        }

        .container-welcome {
            gap: 1rem;
            padding: 1rem;
        }

        .container-welcome .welcome {
            padding: 0.5rem;
        }

        .container-form .button,
        .container-welcome .button {
            width: 100%;
            font-size: 0.9rem;
        }
    }

    .container {
        .container-form {
            h2 {
                font-size: 2rem !important;
                margin-top: 0.5rem;
            }

            .social-networks {
                margin-bottom: 0.3rem !important;
            }

            span {
                margin-bottom: 0.4rem !important;
            }

            .container-input {
                margin-bottom: 0.4rem;
            }

            a {
                margin-bottom: 0.5rem !important;
            }

            .button {
                margin-top: 0.3rem !important;
                margin-bottom: 1rem !important;
            }
        }
    }


}