<div class="cuerpo">
  <div class="container">
    <h2 class="mb-4">Reseñas Recibidas por Usuarios 📝</h2>

    <div class="table-responsive mt-4">
      <table class="table table-bordered table-hover">
        <thead class="table-hotel">
          <tr>
            <th>ID</th>
            <th>Calificación</th>
            <th>Comentario</th>
            <th>Fecha</th>
            <th>ID Usuario</th>
            <th>Nombre de la habitación</th>
            <th>Nombre del servicio</th>
          </tr>
        </thead>
        <tbody>
          @if (rese$|async; as res) {
          @for (r of res; track r.id_resena) {
          <tr>
            <td>{{ r.id_resena }}</td>
            <td>{{ r.calificacion }}</td>
            <td>{{ r.comentario }}</td>
            <td>{{ r.fecha }}</td>
            <td>{{ r.usuario.nombre_usuario }}</td>
            <td>{{ r.habitacion.nombre_habitacion }}</td>
            <td>{{ r.servicio.nombre_servicio }}</td>
          </tr>
          }@empty {
          <tr>
            <td colspan="7">No hay reseñas registradas</td>
          </tr>
          }
          } @else {
          <tr>
            <td colspan="7">Cargando reseñas</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
