<div class="container mt-4">
    <h2 class="mb-4">Gestión de Reseñas 📝</h2>

    <form [formGroup]="resenaForm" class="row g-3">

        <div class="col-md-3">
            <label class="form-label">Calificación</label>
            <select
                class="form-select"
                formControlName="calificacion"
                [class.is-invalid]="calificacion?.invalid && (calificacion?.touched || calificacion?.dirty)"
            >
                <option value="">Seleccione una calificación</option>
                @for (rating of calificacionesDisponibles; track rating) {
                    <option [value]="rating">{{ rating | number: '1.1-1' }}</option>
                }
            </select>
            @if (calificacion?.invalid && (calificacion?.touched || calificacion?.dirty)) {
                <div class="text-danger mt-1">
                    @if (calificacion?.errors?.['required']) {
                        <small>La calificación es obligatoria.</small>
                    } @else if (calificacion?.errors?.['min'] || calificacion?.errors?.['max']) {
                        <small>Debe estar entre 1 y 5.</small>
                    }
                </div>
            }
        </div>
        <div class="col-md-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input id="descripcion" type="text" class="form-control" formControlName="descripcion"
                placeholder="Descripción de la categoría" />

            @if (descripcion?.invalid && (descripcion?.touched || descripcion?.dirty)) {
                <div class="text-danger mt-1">
                    <small>La descripción es obligatoria.</small>
                </div>
            }
        </div>
        <div class="col-md-4">
            <label for="fecha" class="form-label">Fecha</label>
            <input
                type="date"
                class="form-control"
                formControlName="fecha"
                [class.is-invalid]="fecha?.invalid && (fecha?.touched || fecha?.dirty)"
            />
            @if (fecha?.invalid && (fecha?.touched || fecha?.dirty)) {
                <div class="text-danger mt-1">
                    @if (fecha?.errors?.['required']) {
                        <small>La fecha es obligatoria</small>
                    }
                </div>
            }
        </div>

        <div class="col-md-3">
            <label class="form-label">ID Usuario</label>
            <select
                class="form-select"
                formControlName="id_usuario"
                [class.is-invalid]="id_usuario?.invalid && (id_usuario?.touched || id_usuario?.dirty)"
            >
                <option value="null" disabled selected>Seleccione un usuario</option>
                @for (user of user$ |async; track user.id ) {
                    <option [value]="user.id">{{user.nombre + ' - ' +user.apellido}} </option>
                }
            </select>
            @if (id_usuario?.invalid && (id_usuario?.touched || id_usuario?.dirty)) {
                <div class="text-danger mt-1">
                    <small>Debe seleccionar un usuario.</small>
                </div>
            }
        </div>

        <div class="col-md-3">
            <label class="form-label">ID Habitación</label>
            <select
                class="form-select"
                formControlName="id_habitacion"
                [class.is-invalid]="id_habitacion?.invalid && (id_habitacion?.touched || id_habitacion?.dirty)"
            >
                <option value="null" disabled selected>Seleccione una habitacion</option>
                @for (habitacion of habit$ |async; track habitacion.id ) {
                    <option [value]="habitacion.id">{{habitacion.nombre + ' - ' +habitacion.estado}} </option>
                }
            </select>
            @if (id_habitacion?.invalid && (id_habitacion?.touched || id_habitacion?.dirty)) {
                <div class="text-danger mt-1">
                    <small>Debe seleccionar una habitación.</small>
                </div>
            }
        </div>

        <div class="col-12 text-start">
            <button type="submit" class="btn btn-success" (click)="guardarResena()">{{ editando ? 'Actualizar' :
                'Agregar' }} Reseña </button>
        </div>
    </form>
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover">
            <thead class="table-hotel">
                <tr>
                    <th>ID</th>
                    <th>Calificación</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>ID Usuario</th>
                    <th>Nombre de la habitación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (rese$|async; as res) {
                @for (r of res; track r.id) {
                    <tr>
                        <td>{{ r.id }}</td>
                        <td>{{ r.calificacion }}</td>
                        <td>{{ r.descripcion }}</td>
                        <td>{{ r.fecha }}</td>
                        <td>{{ r.usuario.nombre }}</td>
                        <td>{{ r.habitacion.nombre }}</td>
                        <td class="d-flex flex-nowrap justify-content-center">
                            <button class="btn btn-warning btn-sm me-1" (click)="editarResena(r)">Editar</button>
                            <button class="btn btn-danger btn-sm" *ngIf="r.id" (click)="eliminarResena(r.id)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }@empty {
                    <tr>
                        <td colspan="7">No hay reseñas registradas</td>
                    </tr>
                }
                } @else {
                    <tr>
                        <td colspan="7">Cargando reseñas</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>